[Unit]
Description=Enable Razer Blade 14 2023 internal speakers

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/etc/systemd/user/enable-speakers.sh" 
RemainAfterExit=no

[Install]
WantedBy=default.target
